@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;

}

body {
    background-color: black;
}

#root {
    height: 100vh;
}


.load-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdba2c;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.bar:nth-child(1) {
    background-color: #ff1e00;
    animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
    background-color: #1868DB;
    animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
    background-color: #F3AF3D;
    animation: loading 3s linear 2s infinite;
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #888 #222222;
    /* Track and thumb colors */
}

.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #eee;
}